#profile{
width:15%;
height:400px;
border-style:solid;
border-color:#8FAADC;
border-width:2px;
background:none;
margin-right: 1%;
margin-top: 1%; 
float: left;
}


#rkeydate{
width:250px;
height:200px;
border-style:solid;
border-color:#8FAADC;
border-width:2px;
background:none;

top: 100px;
left: 1000px;

position: absolute; 

}

#linedown1{

width: 1px;
height: 1000px;
border-style: solid;
border-color:#8FAADC;
border-width:1px;
background:#8FAADC;

top: 75px;
left: 300px;

position: absolute;

}

#linedown2{

width: 1px;
height: 1000px;
border-style: solid;
border-color:#8FAADC;
border-width:1px;
background:#8FAADC;

top: 75px;
left: 975px;

position: absolute;

}

#subjectSelect{

top: 150px;
left: 320px;
}

#courseTable {

border: 2px solid #8FAADC;
border-collapse: collapse;
font-family: Sans-serif;
}

.courseTableRow {

border-bottom: 1px solid #8FAADC;
border-top: 1px solid #8FAADC;
border-collapse: collapse;
}

.courseCodeColumn1 {

width: 12%;
text-align: center;
}

.courseCodeColumn2 {
}

#courseTableContainer {
}

#profilepng {
	text-align: center;
	position:absolute; LEFT:60%; TOP:2%; WIDTH:40px; HEIGHT:40px
}

#coursespng {
	text-align: center;
	position:absolute; LEFT:65%; TOP:2%; WIDTH:40px; HEIGHT:40px
}

#plannerpng {
	text-align: center;
	position:absolute; LEFT:70%; TOP:2%; WIDTH:40px; HEIGHT:40px
}

#schedulepng {
	text-align: center;
	position:absolute; LEFT:75%; TOP:2%; WIDTH:40px; HEIGHT:40px
}

#degreepng {
	text-align: center;
	position:absolute; LEFT:80%; TOP:2%; WIDTH:40px; HEIGHT:40px
}

#studentName {
	text-align: center;
	font-size: 26px;
}

#studentProgram {
	font-weight: 600;
	margin-left: 5%;
}

#studentYear {
	font-weight: 600;
	margin-left: 5%;

}

body {
  font-family: Sans-serif;
}