#profilepng {
	text-align: center;
	position:absolute; LEFT:600px; TOP:1px;
	margin-right: 1px;
	color: #8FAADC;
}

#coursespng {
	text-align: center;
	position:absolute; LEFT:700px; TOP:1px;
	margin-right: 1px;
	color: #8FAADC;
}

#plannerpng {
	text-align: center;
	position:absolute; LEFT:800px; TOP:1px;
	margin-right: 1px;
	color: #8FAADC;
}

#schedulepng {
	text-align: center;
	position:absolute; LEFT:900px; TOP:1px;
	margin-right: 1px;
	color: #8FAADC;
}

#degreepng {
	text-align: center;
	position:absolute; LEFT:1000px; TOP:1px;
	margin-right: 1px;
	color: #8FAADC;
}

figcaption > a {
	text-decoration: underline;
	color: #8FAADC;
}

figcaption > a.hover {
	text-decoration: underline;
	color: #8FAADC;
}

#profile {
	width: 250px;
	height: 500px;
	border-style:solid;
	border-color:#8FAADC;
	border-width:2px;
	background:none;
	margin-right: 5px;
	margin-top: 1px; 
	float: left;
}

#course {
  position: absolute;
  display: block;
}

#coursePageContainer {
}

#filters {
    border: 2px solid #8FAADC;
	width: 946px;
	margin-left: 25px; 
}

#filters div {
	display: inline-block;
	margin-left: 25px;
}

.filterLinks {
	color: #8FAADC;
}

.filterLinks:link {
    text-decoration: none;
	color: #8FAADC;
}

.filterLinks.active {
    text-decoration: underline;
	color: #8FAADC;
}

#courseTableContainer {
	overflow: auto;
	max-height: 100vh;
    height: 600px;
	width: 950px;
	margin-left: 25px;
}


#courseTable {
	border: 2px solid #8FAADC;
	border-collapse: collapse;
}

.courseTableRow {
	border-bottom: 2px solid #8FAADC;
}

.courseCodeColumn1 {
	text-align: center;
	width: 200px;
}

.courseCodeColumn2 {
	text-align: left;
	width: 1000px;
}


#studentName {
	text-align: center;
	font-size: 26px;
}

#studentProgram {
	font-weight: 600;
	margin-left: 5%;
}

#studentYear {
	font-weight: 600;
	margin-left: 5%;

}

#subjectSelect {
	margin-top: 17px;
	margin-left: 25px;
}

#searchCourses {
	width: 40%;
	float: right;
	margin-top: 17px;
	padding:8px 15px;
	background:#B0C4DE;
	border:0px solid #dbdbdb;
}

::-webkit-input-placeholder { /* For WebKit browsers */
    color: black;
}

.addButton {
	background-color: #008CBA;
	color: white;
	border: 1px solid #008CBA;
	font-size: 14px;
	padding: 10px 20px;
    text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.addButton:hover {
    background-color: white;
    color: black;
	border: 1px solid #008CBA;
}

#maindiv {
    border-style: solid;
    border-color: #8FAADC;
    position: absolute;
	margin-left: 265px;
    height: 750px;
    width: 1000px; 
}

.subdiv {
    position: absolute;
    display: none;
}

.plannertxt{
    text-align: center;
    font-size: 15px;
    color: #8FAADC;
    
}

#plannerContainer {
    border: 2px solid #8FAADC;
    height: 500px;
	width: 200px;
	margin-left: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: inline-block;

}

.plannerContainerRow{

    border-bottom: 2px solid #8FAADC;

}

.plannerColumn {
	text-align: center;
	width: 200px;
}

.plannerTable {
/*	border: 2px solid #8FAADC;*/
	border-collapse: collapse;
}


body {
	font-family: Sans-serif;
}